Options +FollowSymLinks
Options -MultiViews
IndexIgnore */*
<IfModule mod_rewrite.c>
    RewriteEngine on
    SetEnv MOD_REWRITE_SEF on
    RewriteBase /
    # if a directory or a file exists, use it directly
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # otherwise forward it to index.php
    RewriteRule (.*) index.php
</IfModule>
